html {
    scroll-behavior: smooth;
  }

.tituloprincipal {
    color: white;
    font-size: 54px;
    background-color: #003366;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

h1 {
    color: #003366;
    font-size: 54px;
}

.menuprincipal ul {
    background-color: #003366;
    cursor: pointer;
    list-style-type: none;
    padding: 0;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
}

.menuprincipal li {
    display: inline-block;
    margin-right: 20px;
}

.menuprincipal a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.menuprincipal a:hover {
    color: #99ccff;
}

.rodape {
    color: #fff;
    background-color: #003366;
    border-radius: 13px;
    margin: 10px;
    padding: 3px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    flex-direction: row;
    text-align: center;
}